# environment files
.env
.venv/
.google/

# python files
__pycache__/
*.py[cod]
*.log

# test data extracts
output_files/

# terraform files
.terraform/
.terraform.tfstate.lock.info
*.tfstate
*.tfstate.backup
crash.log
crash.*.log
*.plan